.menu {
	@h:40px;
	.max-display;
	display: inline-block;
	width: 100%;
	color:#C6C6C6;
	background-color: #F2f2f2;
	text-transform: uppercase;
	min-height: @h;
	vertical-align: top;
	margin: 0;

	.menu-tab {
		display: inline-block;
		position: relative;
		min-width: 200px;
		line-height: @h;
		&:hover{
			background-color: @color3;
		}
	}

	a:link, a:visited, a:hover {
		// .font-mont;
		.font-rale;

		font-weight: bold;
		font-size:1.15em;
		color: #434343;
		text-decoration: none;
		&:hover {
			color:#FFF;
		}
	}

	&.active {
		a:link, a:visited, a:hover {
			color:#FFF;
		}
	}

	// margin-bottom: 15px;
}
