.posts{
	background-color: #fff;
	h1, h2, h3, h4, h5 {
		.font-mont;
		position: relative;
		font-size: 3em;
		padding-top: 5px;
		margin-top:0;
		margin-bottom:10px;
		color: @color2;
		.transation(200ms);
		cursor: pointer;
		// &:hover {
		// 	color: @color2;
		// }
	}

	.post-cover {
		img {
			.round(8px);
		}
	}

	iframe {
		overflow: hidden;
		border: 1px solid #f2f2f2;
	}

	h1 {
		&:before  {
			content: '';
			position: absolute;
			width: 90%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: lighten(@color3, 50%);
		}
	}
	// position: relative;
	max-width: 1100px;

	code {
		display: block;
		overflow-x: auto;
		padding: 10px;
		background: #272822;
		color: #ddd;
		.round(4px);
	}

	.font-open;
	font-size: 1em;
	color: #5D5D5D;
	padding-bottom: 50px;
}
