.posts{
	.max-display;

	.font-open;
	font-size: 1.1em;
	padding-left: 20px;
	padding-right: 20px;
	color: #5D5D5D;
	padding-bottom: 50px;
	text-align: left;
	line-height:28px;


	h1, h2, h3 {
		.font-mont;
		// .font-open;

		position: relative;
		font-size: 3em;
		padding-top: 5px;
		margin-top:20px;
		margin-bottom:35px;
		text-align: center;

		color: @color2;
		.transation(200ms);
		cursor: pointer;
		&:hover {
			color: @color3;
		}
	}

	min-height:800px;

	.post-cell {
		display: inline-block;
		margin: 15px;

		.post-inside {
			min-height: 270px;
			background-color: #fff;
			padding: 9px;
			top: 0px;
			cursor: pointer;

			position: relative;
			border: 1px solid #ddd;
			.round(6px);
			.shadow(.075,0px,2px,2px);
			.transation(600ms);
		}

		.thumb {
			img {
				.round(6px);
			}
		}

		.title {
			padding-top: 22px;
			font-weight: bold;
			font-size: 1.1em;
			color: @color2;
		}

		&:hover {
			.post-inside {
				top: -5px;
				border: 1px solid #808080;
				.shadow(.125,0px,2px,2px);
				.title{
					color: @color3;
				}
			}
		}
	}

	iframe {
		overflow: hidden;
		border: 1px solid #f2f2f2;
	}

	// h1 {
	// 	&:before  {
	// 		content: '';
	// 		position: absolute;
	// 		width: 90%;
	// 		height: 1px;
	// 		bottom: 0;
	// 		left: 0;
	// 		// padding-top: 5px;
	// 		background-color: lighten(@color3, 10%);
	// 	}
	// }

	pre code {
		display: block;
		overflow-x: auto;
		padding: 10px;
		background-color: #272822;
		color: #ddd;
		.round(4px);
	}

	code {
		// display: block;
		@c:#E2E2E2;
		padding: 2px 1px;
		font-size:1em;
		background-color: #f7f7f9;
		color: #cc2255;
		border:1px solid #ddd;
		.round(3px);
	}

	pre {
		background-color:transparent;
		padding: initial;
		border: initial;
		border-radius: initial;
	}
}
