.header {
	@h: 500px;
	// background-color: #1A1C27;
	background: 100% / 120% no-repeat, linear-gradient(rgb(19, 15, 33), rgb(34, 33, 63)) 0% 0% / cover rgb(19, 15, 33);
	display: inline-block;
	width: 100%;
	position: relative;
	vertical-align: top;
	min-height:@h;
	margin: 0;
	.inside {
		min-height:@h;
		background: url('./../images/sky.png') 50% 20px no-repeat;
	}
}

