<div class="cover">
	<div class="opaque"></div>
	<div class="avatar">
		<img src="images/avatar.png">
	</div>

	<div class="attr">
		<div class="name">
			<i class="flag flag-br"></i> Andre Caetano<br>
			<span class="small">Game Developer</span>
		</div>
	</div>

	<div class="menu">
		<a href="/posts/about"><div class="item">about</div></a><br>
		<a href="/posts/my-portfolio"><div class="item">portfolio</div></a><br>
		<a href="/posts/contact"><div class="item">contact</div></a><br>
	</div>
</div>
